<!-- Inspiration taken from NUS Greyhats: https://github.com/NUSGreyhats/NUSGreyhats.github.io/blob/master/themes/PaperMod/layouts/_default/team.html -->
{{- define "content" }}

<div class="members">
    {{ range .Site.Data.members.members }}
    <div class="member">
        {{- if isset . "pfp" }}
        <img src="/profile_pics/{{ .pfp }}" alt="user's profile image">
        {{- else }}
        <img src="/404unfound_dark.png" alt="">
        {{- end }}
        <h2>{{ .name }}</h2>
        <hr>
        <p class="course">{{ .course }}</p>

        <div class="roles">
            {{ range .roles }}
            <span>{{ . | markdownify }}</span>
            {{ end }}
        </div>

        <p class="description">{{ .desc | markdownify }}</p>

        <div class="icons">
            {{- if isset . "twitter" }}
            <a target="_blank" rel="noopener noreferrer" aria-label="{{ .name | plainify }} on twitter"
                href="{{ trim .twitter " " }}">
                {{ partial "svg/feather.html" "twitter" }}
            </a>
            {{- end }}
            {{- if isset . "linkedin" }}
                <a target="_blank" rel="noopener noreferrer" aria-label="{{ .name | plainify }} on linkedin"
                    href="{{ trim .linkedin " " }}">
                    {{ partial "svg/feather.html" "linkedin" }}
                </a>
            {{- end }}
            {{- if isset . "github" }}
                <a target="_blank" rel="noopener noreferrer" aria-label="{{ .name | plainify }} on github"
                    href="{{ trim .github " " }}">
                    {{ partial "svg/feather.html" "github" }}
                </a>
            {{- end }}
            {{- if isset . "personal" }}
                <a target="_blank" rel="noopener noreferrer" aria-label="{{ .name | plainify }} on personal"
                    href="{{ trim .personal " " }}">
                    {{ partial "svg/feather.html" "link" }}
                </a>
            {{- end }}
        </div>
    </div>
    {{ end }}
</div>

{{- end }}
