{{- define "content" }}
<div class="members">
    {{ range .Site.Data.members }}
    <div class="member">
        <h2>{{ .name }}</h2>
        {{ if isset . "course" }}
        <p>{{ .course }}</p>
        {{ end }}

        <div class="member-roles">
            {{ range .roles }}
            <span class="member-role">{{ . | markdownify }}</span>
            {{ end }}
        </div>
        <p class="member-desc">{{ .desc | markdownify }}</p>

        <div class="member-links">
            {{- if isset . "twitter" }}
                <a target="_blank" rel="noopener noreferrer" 
                    href="{{ trim .twitter " " }}">
                    {{ partial "svg/feather.html" ("twitter") }}
                </a>
            {{- end }}
            {{- if isset . "linkedin" }}
                <a target="_blank" rel="noopener noreferrer" 
                    href="{{ trim .linkedin " " }}">
                    {{ partial "svg/feather.html" ("linkedin") }}
                </a>
            {{- end }}
            {{- if isset . "github" }}
                <a target="_blank" rel="noopener noreferrer" 
                    href="{{ trim .github " " }}">
                    {{ partial "svg/feather.html" ("github") }}
                </a>
            {{- end }}
            {{- if isset . "personal" }}
                <a target="_blank" rel="noopener noreferrer" 
                    href="{{ trim .personal " " }}">
                    {{ partial "svg/feather.html" ("link") }}
                </a>
            {{- end }}
        </div>
    </div>
    {{ end }}
</div>

{{- end }}
